<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Hello, world!</h3>
      <hr />
      <input type="text" [(ngModel)]="username" />
      <button
        class="btn btn-primary"
        [disabled]="username.length <= 0"
        type="submit"
        (click)="resetUsername()"
      >
        Reset Username
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>
        Your username will be: <span class="username">{{ username }}</span>
      </p>
    </div>
  </div>
</div>
