<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Log Items</h3>
      <hr />
      <button class="btn btn-primary" (click)="toggleDetailDisplay()">
        Display Details
      </button>
      <p [ngClass]="{ hidden: !detailsDisplayed }">It's Xmas 2021!</p>
      <div class="container">
        <pre
          ngst
          [ngStyle]="{
            background: indexOfElement > 5 ? 'lightblue' : 'initial'
          }"
          *ngFor="let log of buttonLog; let indexOfElement = index"
          >{{ indexOfElement }}- {{ log }}</pre
        >
      </div>
    </div>
  </div>
</div>
